* {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: top;
  position: absolute;
  top: 5vh;
  left: 10vw;
  /* border: 2px solid red; */
}

#left-item {
  background-color: white;
  width: 30vw;
  height: 60vh;
  /* border: 2px solid blue; */
  display: block;
}

#left-item span {
  display: block;
  /* border: 2px solid pink; */
  margin: 2vh 1vw;
  padding: 1vh 0.5vw;
}

#left-item span img {
  height: 6vh;
  width: 3vw;
  vertical-align: middle;
  margin-right: 0.4vw;
}

.button_class {
  border: none !important;
}

#left-item span button {
  width: 36ch;
  height: 6vh;
  vertical-align: middle;
  /* border-style: hidden; */
  background-color: white;
  font-size: 100%;
  text-align: left;
}

#right-item {
  width: 45vw;
  height: 89.5vh;
  /* border: 2px solid green; */
}

#caption {
  text-align: center;
  width: 35vw;
  height: 8vh;
}

#txtbox {
  padding: 2vh;
}

input {
  border: 0px none;
}

input:focus {
  outline: none !important;
}

#txt {
  color: black;
  font-size: 1.2em;
  width: 35vw;
  text-align: center;
  /* white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; */
}

#myimg {
  width: 35vw;
  height: 80vh;
}
